a.out
*.o
build-compiler-rt-*
build-libcxx-*
build-llvm-*
build-llvm
build
musl
llvm-project
mimalloc
linux
lfi-runtime
lfi-rewriter
lfi-verifier
lfi-bind
*-lfi-tools
aarch64-native-clang
aarch64-lfi-*clang
x86_64-native-*clang
x86_64-lfi-*clang
riscv64-native-*clang
riscv64-lfi-*clang
*.tar.gz
*.a
.cache
host-x86_64.sh
